body {
    background-color: #E0E4CC;
}
p{
    color: #69D2E7;
}
a:link {color:#F38630;}
h1{
    color: #FA6900
}
nav {
    background-color: #A7DBD8;
    padding: 10px
}

nav {margin-bottom: 30px}
nav a {color: #F9CDAD;}
nav a:hover {background-color: #83AF9B;}
