body {
    background-color: rgb(205, 222, 248);
    font-family: 'Lora', serif;
}

nav {
    background-color: white;
    text: rgb(111, 204, 235);
    border-style: solid;
    border-color: royalblue;
    display: flex;
    padding: 10px;
    overflow: auto;
    text-decoration: none;
    float:left;
    margin:10px;
}

nav a {
    color:rgb(111, 204, 235);
    text-decoration: none;
}
nav a:hover{
    color:rgb(13, 94, 121);
}

img {
    width: 20px;
}

h1 {
    background-color: white;
    color:rgb(111, 204, 235);
    border-style: solid;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 2em;
    clear:left;
}

h2 {
    color:rgb(111, 204, 235);
}

h2,.p1,.p2 {
    text-align: center;
}

.p1{
    margin: 20px;
}
.p2{
    margin: 100px;
}

.photo1, .photo2 {
    width: 50em;
}

.paragraph1, .paragraph2, .paragraph5 {
    text-align: center;
}
.paragraph3,.paragraph4 {
    margin:30px;
}

.paragraph6 {
    display:flex;
    float:right;
}

.photo1 {
    width: 25em;
    display: flex;
    float:left;
    padding:10px;
    max-width: 100%;
}

.photo2 {
    width: 25em;
    display:flex;
    float:right;
    padding:10px;
    max-width: 100%;
}
.photo3 {
    width: 10em;
    display:flex; 
    float:left;
    padding:10px;
    margin: 20px;
    max-width: 100%;
}

.photo4 {
    width:25em;
    display:flex;
    float:right;
    padding:10px;
    margin:20px;
    max-width: 100%;
}

button {
    color: rgb(82, 134, 245);
    border: solid rgba(90, 99, 226, 0.616);
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.button1, .button2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.button3, .button4 {
    display:flex;
    justify-content: center;
    align-items: center;
}

.button5, .button6 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.button5 {
    margin-top: 100px;
}
 .button3, .button1{
    margin-top: 200px;
}

@media screen and (max-width: 600px) {
    .nav {
      float: none;
      display: block;
      margin: 1px;
      padding: 1px;
      font-size: 5px;
    }
    .paragraph1 .paragraph2 .paragraph3 .paragraph4 .paragraph5 .paragraph6 {
        margin: 1px;
        padding: 1px;
    }
    .p1 .p2 {
        margin: 1px;
        padding: 1px;
    }
  }
