body {
    background-color: rgb(205, 222, 248);
}

nav {
    background-color: white;
    text: rgb(111, 204, 235);
    border-style: solid;
    border-color: royalblue;
    display: flex;
    padding: 10px;
    overflow: auto;
    text-decoration: none;
    float:left;
    margin:10px;
}

nav a {
    color:rgb(111, 204, 235);
    text-decoration: none;
}
nav a:hover{
    color:rgb(13, 94, 121);
}

img {
    width: 20px;
}

h1 {
    background-color: white;
    color:rgb(111, 204, 235);
    border-style: solid;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 2em;
    clear:left;
}

h2 {
    color:rgb(111, 204, 235);
}

h2,.p1,.p2 {
    text-align: center;
}

.p1{
    margin: 20px;
}
.p2{
    margin: 100px;
}

button {
    color: rgb(82, 134, 245);
    border: solid rgba(90, 99, 226, 0.616);
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.button1, .button2{
    display:flex;
    justify-content: center;
    margin: 10px;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
