h1, h2, th, td {font-family:Georgia, 'Times New Roman', Times, serif;}
h1, h2 {color: lavenderblush;}
.special {color: purple;}
.evenrow {background-color: powderblue;}
h1 {font-size: 5em;}
h2 {font-size: 4cm;}